.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: var(--pmd-br-m);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1001;
}
